#income_label{
    color:salmon;
    font-size:20px;
}
#expense_label {
    color: salmon;
    font-size: 20px;
}
#note_label {
    color: salmon;
    font-size: 20px;
}
#column1{
    font-size:30px;
}
#submit_btn{
    /*color:red;
    background:black*/
}
#delete_btn{
}
#sum_btn{
}
#treeview{
    /*background:black;*/
}






