label#income_label{
    color:salmon;
    font-size:20px;
}
label#expense_label {
    color: salmon;
    font-size: 20px;
}
label#note_label {
    color: salmon;
    font-size: 20px;
}
#main_window{
    color:red
}






